@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 500;
}
body{
    background-image: url(https://img.freepik.com/vector-premium/fondo-kawaii-perro-gato_6997-1578.jpg);
}
.contenedor{
    width: 40%;
    height: auto;
    background-color: #925a90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    border-radius: 50px;
    margin-top: 20px;
}
.contenedor__title{
    color: #f7f7f7;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.contenedor__subtitle{
    text-align: center;
    color: #f7f7f7;
    margin-bottom: 20px; 
}

.contenedor__navegacion{
    margin-bottom: 20px;

}
.contenedor__navegacion__links{
    margin: 10px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
.contenedor__navegacion__links li {
    list-style-type: none;
    background-color: #b988b8 ;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    border: 1px solid #dcbadb;
}
.contenedor__navegacion__link{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}